@model Feasablty_study.Models.Feasibility_study

@{
    ViewData["Title"] = "تعديل البيانات";
}
              <h3>تفاصيل العرض</h3>
                
                <hr />
             <div class="row">
              <div class="authentication-wrapper authentication-basic container-p-y">
                  <!-- User Card -->
               <div class="authentication-inner py-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="user-avatar-section">
                        <div class="d-flex flex-column align-items-center">
                          <img class="img-fluid rounded my-4" src="../../assets/img/avatars/details.jpg" height="110" width="110" alt="User avatar">
                          <div class="user-info text-center">
                              <h4 class="border-bottom pb-2 mb-4">  عرض الدراسة</h4>
                            <h5 class="mb-2">@Html.DisplayFor(model => model.user.Id)</h5>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="info-container">
                           <ul class="list-unstyled">
                          <li class="mb-3">
                            <span class="fw-bold me-2">اسم المشروع:</span>
                            <span>@Html.DisplayFor(model => model.ProjectName)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">وصف المشروع :</span>
                            <span>@Html.DisplayFor(model => model.Description)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">موقع المشروع:</span>
                            <span>@Html.DisplayFor(model => model.ProjectLocation)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">نوع المشروع:</span>
                            <span>@Html.DisplayFor(model => model.ProjectType)</span>
                          </li>                        
                          <li class="mb-3">
                            <span class="fw-bold me-2">  تاريخ بداية التنفيذ :</span>
                            <span>@Html.DisplayFor(model => model.ProjectDate)</span>
                          </li><li class="mb-3">
                            <span class="fw-bold me-2"> رقم التواصل : </span>
                            <span>@Html.DisplayFor(model => model.ContactNumber)</span>
                          </li>                      
                        </ul>

                       <hr/>
                <div class="d-flex justify-content-center pt-3">
                          <a class="btn btn-warning me-3" asp-action="Edit" asp-route-id="@Model.Id">تعديل</a>
                          <a class="btn btn-label-success suspend-user" asp-action="Index">عودة للقائمة </a>
                        </div>         
                  </div>
                   </div>
                    </div>
                      </div>
                       </div>
                        </div>