
@model IEnumerable<Feasablty_study.Models.Feasibility_study>

@{
    ViewData["Title"] = " الدراسات";
}
                     <h1>عرض الدراسات</h1>
                    <div class="card">
                    <h4 class="card-header"> التقارير</h4>
                    <div class="card-body">
                  <div class="d-flex col-12 justify-content-between">
                                <button style="float:left; border:1px solid green;" class="btn btn-success me-1" onclick="location.href='@Url.Action("Create", "Feasibility_study")'">اضــــافة دراسة جديدة +
                                </button>
                                 
                              </div>
                           <hr/>

                        <div class="table-responsive text-nowrap">
                      <table id="dataTable"  class="table table-bordered">
                        <thead>
                          <tr>
                            <th>عنوان المشروع</th>
                            <th>وصف المشروع</th>
                            <th> تاريخ التنفيذ </th>
                            <th>  منطقة المشروع</th>
                            <th>  اسم صاحب المشروع</th>
                            <th>الاجراءات</th>
                          </tr>
                        </thead>
                            <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3" style="color:red">
                                لا يوجد نتائج
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                       <tr>
            <td>@Html.DisplayFor(modelItem => item.ProjectName)   </td>      
            <td>@Html.DisplayFor(modelItem => item.Description)</td>       
            <td>@Html.DisplayFor(modelItem => item.ProjectDate)</td>        
            <td>@Html.DisplayFor(modelItem => item.ProjectLocation) </td>
            <td> @Html.DisplayFor(modelItem => item.OwnerName) </td>
                     <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info" style="padding: 0px; margin: 0px 2px 0px 2px"><i class="material-icons" style="padding: 4px;">عرض</i></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="padding: 0px; margin: 0px 2px 0px 2px"><i class="material-icons" style="padding: 4px">حذف</i></a>
                <a asp-action="PrintAsPdf" asp-route-id="@item.Id" class="btn btn-primary" style="padding: 0px; margin: 0px 2px 0px 2px"><i class="material-icons" style="padding: 4px"> طباعة  </i></a>
            </td>
            
            </tr>
                      }
                    }

    </tbody>

   </table>
   </div>
 </div>
 </div>

  <script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "lengthMenu": " عرض _MENU_ سجلات  ",

                "info": "عرض صفحة _PAGE_ من _PAGES_",
                "infoEmpty": "  لاتوجد بيانات مطابقة للبحث",
                "infoFiltered": "(الصافي من  _MAX_ اجمالي الصفوف)",
                "search": "بحث"
            }


        });
    });

</script>
