@model Feasablty_study.Models.Support_Messages
@{
    ViewData["Title"] = "الحذف";
}
           <h1>حذف الدراسة</h1>
               <hr />
            <div class="row">
             <div class="authentication-wrapper authentication-basic container-p-y">
                  <!-- User Card -->
               <div class="authentication-inner py-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="user-avatar-section">
                        <div class="d-flex flex-column align-items-center">
                          <img class="img-fluid rounded my-4" src="../../assets/img/avatars/delete.png" height="120" width="120" alt="User avatar">
                          <div class="user-info text-center">
                           <h4 class="border-bottom pb-2 mb-4">حذف الرسالة</h4>
                          </div>
                        </div>
                      </div>
                     <hr/>
                      <div class="info-container">
                        <ul class="list-unstyled">
                          <li class="mb-3">
                            <span class="fw-bold me-2"> عنوان الرسالة:</span>
                            <span>@Html.DisplayFor(model => model.Title)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2"> المحتوى :</span>
                            <span>@Html.DisplayFor(model => model.Content)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2"> البريد الالكتروني:</span>
                            <span>@Html.DisplayFor(model => model.Email)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2"> تاريخ الارسال:</span>
                            <span>@Html.DisplayFor(model => model.Date)</span>
                          </li>                        
                          <li class="mb-3">
                            <span class="fw-bold me-2">    اسم المستخدم :</span>
                            <span>@Html.DisplayFor(model => model.user.Email)</span>
                          </li>                      
                        </ul>
                        <hr/>
                        <h5>هل انت متأكد من حذف المشروع ؟</h5>
                            <hr/>
                     <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                        <input type="submit" value="حذف" class="btn btn-danger" /> 
                        <a class="btn btn-label-success suspend-user" asp-action="Index">عودة للقائمة👈  </a>
                    </form>         
                      </div>
                        </div>
                          </div>
                            </div>
                              </div>
                                 </div>