@model IEnumerable<Feasablty_study.Models.Support_Messages>

    @{
    ViewData["Title"] = "عرض الرسائل";
   
}


    <link rel="stylesheet" href="~/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/shepherd/shepherd.css" />
<div class="card">
    <h4 class="card-header"> الرسائل</h4>
    <div class="card-body">
                <meta name="viewport" content="width=device-width" />
            <table id="dataTable" class="table table-hover">
                     <thead>
                         <tr>
                        <th> تسلسل </th>
                        <th>البريد الالكتروني</th>
                        <th> تاريخ الارسال</th>
                        <th>اسم المرسل</th>
                        <th>  الاجراءات</th> 
                       </tr>
                  </thead>

                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3" style="color:red">
                                لا يوجد نتائج
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                             var TargetId="modalN"+@item.Id;

                            <tr>
                                 
                                  <td data-title=" تسلسل:">@Html.DisplayFor(modelItem => item.Id)</td>
                                <td data-title=" البريد الالكتروني:">@Html.DisplayFor(modelItem => item.Email) </td>
                                <td data-title=" تاريخ الارسال:"> @Html.DisplayFor(modelItem => item.Date)</td>
                                <td data-title=" اسم المرسل:"> @Html.DisplayFor(modelItem => item.User.Name)</td>
                                
                            <td data-title="الاجراءات">
                           
                                         <!-- Modal -->
                    <!-- Modal -->
                       <div class="demo-inline-spacing">
                        <!-- Button trigger modal -->
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-toggle="modal"
                          data-bs-target="#@TargetId"
                        >
                         <i> عرض الرسالة</i>
                        </button>
                      </div>
                       </td>
                      
                     </tr>
                      <div class="modal fade" id=@TargetId tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalScrollableTitle"> @Html.DisplayFor(modelItem => item.Title)</h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body"
                               asp-route-id="@item.Id">
                              <p>
                               @Html.DisplayFor(modelItem => item.Content)
                              </p>
                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
                                إلغاء
                              </button>
                             <form  
                                id="@item.Id"
                                class="text-danger delete-record"
                                method="post"
                                type="submit"
                                asp-action="Delete"
                                asp-route-id="@item.Id" 
                                >
                                <i onclick="return functionConfirm('@item.Id')" class="btn btn-danger bx bx-trash me-1"></i> </form>
                            </div>
                          </div>
                        </div>
                      </div>

                        }
                    }

                </tbody>
            </table>
    </div>
</div>
@section Scripts{
    
    <script>
        function functionConfirm(Id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

        swalWithBootstrapButtons.fire({
            title: 'هل انت متأكد من الحذف ؟',
            text: "سيتم حذف الرسالة بشكل نهائي  !",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'نعم  !',
            cancelButtonText: 'الغاء ',
            reverseButtons: true,
            timer: 10000
        }).then((result) => {
            if (result.isConfirmed) {
                $("#"+Id+"").submit();

                swalWithBootstrapButtons.fire({
                    title: 'تم الحذف !',
                    text :'تمت عملية الحذف بنجاح .',
                    icon: 'success',
                    timer:'200000'
                    }
                )
            } else if (
                /* Read more about handling dismissals below */
                result.dismiss === Swal.DismissReason.cancel
            ) {
                swalWithBootstrapButtons.fire(
                    ' تم إلغاء الحذف',
                    '',
                    'error'
                )
            }
        })
    }
</script>


<script>
    

    $(document).ready(function () {
       $('#dataTable').DataTable({
            responsive: true,
            "language": {
                "lengthMenu": "عرض _MENU_ سجلات  ",
                "info": "عرض صفحة _PAGE_ من _PAGES_",
                "infoEmpty": "  لاتوجد بيانات مطابقة للبحث",
                "infoFiltered": "(الصافي من  _MAX_ اجمالي الصفوف)",
                "search": "بحث",
            },


        });
    });
    
   
</script>


    
@*

<script>

    'use strict';

(function () {
  const popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
  const popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl, { html: true, sanitize: false});
  });
})();



</script>*@


     }
