@model Feasablty_study.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <div class="row">
        <div class="col-md-5 col-lg-5 col-xl-4 order-1 order-md-0">
                  <!-- User Card -->
                  <div class="card">
                    <div class="card-body">
                      <div class="user-avatar-section">
                        <div class="d-flex flex-column align-items-center">
                          <img class="img-fluid rounded my-4" src="../../assets/img/avatars/9.png" height="110" width="110" alt="User avatar">
                          <div class="user-info text-center">
                            <h5 class="mb-2">@Html.DisplayFor(model => model.Name)</h5>
                          </div>
                        </div>
                      </div>
                      <h5 class="border-bottom pb-2 mb-4">التفاصيل</h5>
                      <div class="info-container">
                        <ul class="list-unstyled">
                          <li class="mb-3">
                            <span class="fw-bold me-2">اسم المستخدم:</span>
                            <span>@Html.DisplayFor(model => model.UserName)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">الأيمل :</span>
                            <span>@Html.DisplayFor(model => model.Email)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">الحالة:</span>
                            <span class="badge bg-label-success">نشط</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">الايميل:</span>
                            <span>@Html.DisplayFor(model => model.Email)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">كلمة المرور</span>
                            <span>@Html.DisplayFor(model => model.Password)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">رقم الهاتف:</span>
                            <span>@Html.DisplayFor(model => model.PhoneNumber)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">تاريخ الانشاء</span>
                            <span>@Html.DisplayFor(model => model.CreationDate)</span>
                          </li>
                          <li class="mb-3">
                            <span class="fw-bold me-2">الدولة:</span>
                            <span>اليمن</span>
                          </li>
                        </ul>
                        <div class="d-flex justify-content-center pt-3">
                          <a class="btn btn-primary me-3" asp-action="Edit" asp-route-id="@Model.Id">تعديل</a>
                          <a class="btn btn-label-danger suspend-user" asp-action="Index">عودة للقائمة </a>
                        </div>
                      </div>
                    </div>
                  </div>
           
                </div>
        
