@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager; 
@inject SignInManager<User> signInManager; 
@model IEnumerable<Feasablty_study.Models.User>

@{
    ViewData["Title"] = "عرض المستخدمين";
}

 <partial name="../Shared//AdminLayout.cshtml" />
  <!--/ DataTable with Buttons -->
    <div class="card">
     <div class="card-body">
               <div class="d-flex col-12 justify-content-between">
                <button style="float:left; border:1px solid green;" class="btn btn-success me-1" onclick="location.href='@Url.Action("Create", "Users")'">اضــــافة مستخدم جديد +
                </button>
              </div>
               <hr/>
        <div class="table-responsive text-nowrap">
                <meta name="viewport" content="width=device-width" />
            <table id="dataTable"  class="table table-bordered">
                      <thead>
                      <tr>
                        <th>الاسم </th>
                        <th>البريد الالكتروني</th>
                        <th>اسم المستخدم</th>
                        <th>رقم الهاتف</th>
                        <th>تاريخ التسجيل</th>
                        <th>المنطقة</th>
                        <th>نوع المستخدم</th>
                        <th>الحالة</th>
                        <th>الاجراءات </th>
                      </tr>
                    </thead> 
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3" style="color:red">
                                لا يوجد نتائج
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                       <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)   </td>      
            <td>@Html.DisplayFor(modelItem => item.Email)</td>       
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>        
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber) </td>
            <td> @Html.DisplayFor(modelItem => item.CreationDate) </td>  
            <td>@Html.DisplayFor(modelItem => item.Region.Name) </td>

                             <td>
                          @if(await UserManager.IsInRoleAsync(item,"Admin"))
                            {
                                <span class="badge bg-label-success">ادمن</span>
                            }
                           else if(await UserManager.IsInRoleAsync(item,"User"))
                            {
                                <span class="badge bg-label-warning">مستخدم عادي</span>
                            }
                            else if(await UserManager.IsInRoleAsync(item,"Employee"))
                            {
                                <span class="badge bg-label-primary">موظف ادراي</span>
                            }
                            </td>
                              <td>
                          @if(item.Status)
                            {
                                <span class="badge bg-label-success">نشط</span>
                            }
                           else
                            {
                                <span class="badge bg-label-danger">متوقف</span>
                            }
                            </td>
                            <td style="">
                                <div class="d-inline-block">
                                    <button class="btn btn-sm btn-icon dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a  class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">عرض</a></li>
                                            <li>
                                                @if(item.Status)
                                                {
                                                     <a  class="dropdown-item" asp-action="disbleOrEnableUser" asp-route-id="@item.Id">توقيف</a>
                                                }
                                                else
                                                {
                                                    <a  class="dropdown-item"  asp-action="disbleOrEnableUser" asp-route-id="@item.Id">تنشيط</a>
                                                }
                                                

                                
                            
                            </li>
                            <li>
                                <a  class="dropdown-item text-danger delete-record" asp-action="Delete" asp-route-id="@item.Id">حذف</a></li>
                                <li><a  class="dropdown-item text-success print-record" asp-action="PrintAsPdf" asp-route-id="@item.Id" > طباعة  </a></li>
                            </ul>
                            
                            </div>
                                <a  class="btn btn-sm btn-icon item-edit" asp-action="Edit" asp-route-id="@item.Id" ><i class="bx bxs-edit"></i></a>
                            </td>
            
                        </tr>
                        }
                    }

                </tbody>
            </table>
    </div>
    </div>
   </div>

 <script>
    $(document).ready(function () {
        $('#dataTable').DataTable({
            "language": {
                "lengthMenu": " عرض _MENU_ سجلات  ",

                "info": "عرض صفحة _PAGE_ من _PAGES_",
                "infoEmpty": "  لاتوجد بيانات مطابقة للبحث",
                "infoFiltered": "(الصافي من  _MAX_ اجمالي الصفوف)",
                "search": "بحث"
            }


        });
    });

</script>

    
